<h1>Alumno nuevo</h1>

<%= error_messages_for :alumno %>

<% form_for(@alumno) do |f| %>

<p>
  <b>Cédula</b><br />
  <%= f.text_field :cedula %>
</p>

<p>
  <b>Nombres</b><br />
  <%= f.text_field :nombres %>
</p>

<p>
  <b>Apellidos</b><br />
  <%= f.text_field :apellidos %>
</p>

<p>
  <b>Direccion</b><br />
  <%= f.text_area :direccion %>
</p>

<p>
  <b>Cuidados especiales</b><br />
  <%= f.text_area :cuidados_especiales %>
</p>

<p>
  <b>Fecha ingreso</b><br />
    <%= date_field :alumno, :fecha_ingreso, :format => ActiveSupport::CoreExtensions::Date::Conversions::DATE_FORMATS[:default_date], :value => @alumno.fecha_ingreso %>
</p>

<p>
  <b>Fecha nacimiento</b><br />
    <%= date_field :alumno, :fecha_nacimiento, :format => ActiveSupport::CoreExtensions::Date::Conversions::DATE_FORMATS[:default_date], :value => @alumno.fecha_nacimiento %>
</p>

<p>
  <%= f.submit "Crear" %>
</p>
<% end %>

<%= link_to 'Regresar a la lista de alumnos', alumnos_path %>
