<p>
  <b>Cédula:</b>
  <%=h @alumno.cedula %>
</p>

<p>
  <b>Nombres:</b>
  <%=h @alumno.nombres %>
</p>

<p>
  <b>Apellidos:</b>
  <%=h @alumno.apellidos %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @alumno.direccion %>
</p>

<p>
  <b>Cuidados especiales:</b>
  <%=h @alumno.cuidados_especiales %>
</p>

<p>
  <b>Fecha ingreso:</b>
  <%=h @alumno.fecha_ingreso %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @alumno.fecha_nacimiento %>
</p>

<p>
  <b>Marcado como exalumno:</b>
  <% if @alumno.exalumno.nil? -%>
  No | <%= link_to "Marcar como exalumno", new_alumno_exalumno_path(@alumno) %>
  <% else -%>
  <%= link_to "Si", alumno_exalumno_path(@alumno)  %> | <%= link_to "Quitar marca de exalumno", alumno_exalumno_path(@alumno), :method => :delete, :confirm => "¿Está seguro?" %>
  <% end -%>
</p>

<p>
<b><%= link_to "Faltas de asistencia", alumno_falta_de_asistencias_path(@alumno) %> </b>
</p>
<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
