<h1><%= @alumno.nombre_completo %> </h1>
<p>
  <b>Cédula:</b>
  <%=h @alumno.cedula %>
</p>

<p>
  <b>Familia:</b>
  <% if @familia.nil? -%>
  Ninguna
  <% else -%>
  <%= link_to ("Familia "+@familia.nombre) , familia_path(@familia) %>
  <% end -%>
  | <%= link_to "Control de familias", familias_path %>
</p>

<p>
  <b>Grupo:</b>
  <% if @grupo.nil? -%>
  <%= @alumno.exalumno.nil? ? "Ninguno" : "Exalumnos" %>
  <% else -%>
  <%= link_to (@grupo.nombre_completo) , grupo_path(@grupo) %>
  <% end -%>
  | <%= link_to "Control de grupos", grupos_path %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @alumno.direccion %>
</p>

<p>
  <b>Cuidados especiales:</b>
  <%=h @alumno.cuidados_especiales %>
</p>

<p>
  <b>Fecha ingreso (AAAA-MM-DD):</b>
  <%=h @alumno.fecha_ingreso %>
</p>

<p>
  <b>Fecha nacimiento (AAAA-MM-DD):</b>
  <%=h @alumno.fecha_nacimiento %>
</p>

<p>
  <b>Edad:</b>
  <%= pluralize @alumno.edad, "año" %>
</p>

<p>
  <b>Ruta:</b>
  <% if @alumno.ruta.nil? -%>
  Ninguna
  <% else -%>
  <%= link_to (@alumno.ruta.transportador.nombre_completo) , ruta_path(@alumno.ruta) %>
  <% end -%>
  | <%= link_to "Control de transportadores", transportadors_path %>
</p>

<p>
  <b>Marcado como exalumno:</b>
  <% if @alumno.exalumno.nil? -%>
  No | <%= link_to "Marcar como exalumno", new_alumno_exalumno_path(@alumno) %>
  <% else -%>
  <%= link_to "Si", alumno_exalumno_path(@alumno)  %> | <%= link_to "Quitar marca de exalumno", alumno_exalumno_path(@alumno), :method => :delete, :confirm => "¿Está seguro?" %>
  <% end -%>
</p>
<p>
<b><%= link_to "Faltas de asistencia", alumno_falta_de_asistencias_path(@alumno) %> </b>
</p>
<%= link_to 'Editar datos', edit_alumno_path(@alumno) %> |
<%= link_to 'Regresar a la lista de alumnos', alumnos_path %>
