<h1>Editando los datos del profesor <%= h @profesor.nombre_completo %></h1>

<%= error_messages_for :profesor %>

<% form_for(@profesor) do |f| %>
  <p>
    <b>Salario</b><br />
    <%= f.text_field :salario %>
  </p>

  <p>
    <%= f.submit "Actualizar" %>
  </p>
<% end %>

<%= link_to 'Ver', @profesor %> |
<%= link_to 'Regresar a la lista de los profesores', profesors_path %>
