<h1>Editando los datos del profesor <%= h @profesor.nombre_completo %></h1>

<%= error_messages_for :profesor %>

<% form_for(@profesor) do |f| %>
<p>
  <b>Cédula</b><br />
  <%= f.text_field :cedula %>
</p>

<p>
  <b>Nombre</b> <br />
  <%= f.text_field :nombres %>
</p>

<p>
  <b>Apellidos</b><br />
  <%= f.text_field :apellidos %>
</p>

<p>
  <b>Direccion</b><br />
  <%= f.text_area :direccion %>
</p>
<p>
  <p>
    <b>Salario</b><br />
    <%= f.text_field :salario %>
  </p>

  <p>
    <%= f.submit "Actualizar" %>
  </p>
<% end %>

<%= link_to 'Ver', @profesor %> |
<%= link_to 'Regresar a la lista de los profesores', profesors_path %>
