<h1>Faltas de asistencia de <%= link_to "todos los alumnos", alumnos_path %> </h1>

<table>
  <tr>
    <th>Alumno</th>
    <th>Fecha</th>
    <th>Motivo</th>
  </tr>

<% for falta_de_asistencia in @falta_de_asistencias %>
  <tr>
    <% @alumno = Alumno.find(falta_de_asistencia.persona.id)  %>
    <td><%= link_to @alumno.nombre_completo, alumno_path(@alumno) %></td>
    <td><%=h falta_de_asistencia.fecha %></td>
    <td><%=h falta_de_asistencia.motivo %></td>
    <td><%= link_to 'Ver', [@alumno, falta_de_asistencia] %></td>
    <td><%= link_to 'Editar', [:edit, @alumno, falta_de_asistencia] %></td>
    <td><%= link_to 'Eliminar', [@alumno, falta_de_asistencia], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ir a alumnos', alumnos_path %>
