<h1>Faltas de asistencia de <%= link_to @alumno.nombre_completo, alumno_path(@alumno) %> </h1>

<% form_tag alumno_falta_de_asistencia_path(@alumno,@falta_de_asistencia), :method => :get do %>
Desde <%= text_field_tag :buscar, "aaaa-mm-dd" %> Hasta <%= text_field_tag :buscar2, "aaaa-mm-dd" %>
<%= submit_tag "Buscar", :name => nil %>
<% end %>

<table>
  <tr>
    <th>Fecha</th>
    <th>Motivo</th>
  </tr>

<% for falta_de_asistencia in @falta_de_asistencias %>
  <tr>
    <td><%=h falta_de_asistencia.fecha %></td>
    <td><%=h falta_de_asistencia.motivo %></td>
    <td><%= link_to 'Ver', [@alumno, falta_de_asistencia] %></td>
    <td><%= link_to 'Editar', [:edit, @alumno, falta_de_asistencia] %></td>
    <td><%= link_to 'Eliminar', [@alumno, falta_de_asistencia], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva falta de asistencia', new_alumno_falta_de_asistencia_path(@alumno) %>
