<h1>Lista de grupos</h1>

<% form_tag grupos_path, :method => :get do %>
<%= text_field_tag :buscar, params[:buscar] %>
<%= submit_tag "Buscar", :name => nil %>
<% end %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Jornada</th>
  </tr>

<% for grupo in @grupos %>
  <tr>
    <td><%=h grupo.nombre %></td>
    <td><%=h grupo.jornada %></td>
    <td><%= link_to 'Detalles', grupo %></td>
    <td><%= link_to 'Editar', edit_grupo_path(grupo) %></td>
    <td><%= link_to 'Eliminar', grupo, :confirm => 'Esta seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo grupo', new_grupo_path %>
