<h1> <%= h("#{@grupo.nombre} (#{@grupo.jornada})")  %> </h1>

<p>
<h3>Profesor</h3>
<% if @profesor.nil? -%>
<p>
  Ninguno | <%= link_to 'Asignar', agregar_profesor_grupo_path(@grupo), :id => @grupo.id, :method => :get %> <br />
</p>
<% else -%>
<%= link_to (@profesor.nombres + " " +@profesor.apellidos, profesor_path(@profesor) )  %>
 | <%= link_to 'Cambiar', agregar_profesor_grupo_path(@grupo) %> | <%= link_to 'Quitar', quitar_profesor_grupo_path(@grupo), :method => :put %><br />
<% end -%>
</p>

<p>
<h3>Alumnos</h3>
<%=  render( :partial => "alumno", :collection => @alumnos ) %>
</p>
<br />
<%= link_to "Agregar alumnos", agregar_alumnos_grupo_path, :method => :get %> | <%= link_to "Quitar alumnos", quitar_alumnos_grupo_path, :method => :get %><br />

<br />
<%= link_to 'Editar', edit_grupo_path(@grupo) %> |
<%= link_to 'Regresar a lista de los grupos', grupos_path %>
