<h1>Agregar alumnos a la ruta de <%= link_to @ruta.transportador.nombre_completo, ruta_path(@ruta) %></h1>

<b>Nota:</b> Los exalumnos no se muestran en esta lista. <br />

<% form_tag agregar_alumnos_ruta_path, :method => :put do %>
<ul>
  <%=  render(:partial => "alumno_checkbox", :collection => @alumnos) %>
</ul>
<%= hidden_field_tag "id", @ruta.id %>
<%= submit_tag "Agregar" %> <br />
<%= link_to 'Crear un nuevo alumno', new_alumno_path %>
<% end %>


