 <p>
   <h1><%= @transportador.nombre_completo %></h1>
   <b>Cédula:</b>
   <%=h @transportador.cedula %>
 </p>

 <p>
   <b>Direccion:</b>
   <%=h @transportador.direccion %>
 </p>

<p>
  <b>Tarifa mensual:</b>
  <%=h @transportador.tarifa_mensual %>
</p>

<p>
  <b>Tarifa individual:</b>
  <%=h @transportador.tarifa_individual %>
</p>

<p>
  <b>Ruta:</b>
  <div>
    <% if @transportador.ruta.nil? %>
    Ninguna | <%= link_to "Agregar ruta", new_transportador_ruta_path(@transportador) %>
    <% else -%>
    <ul>
      <li><b>Sector: </b> <%= @transportador.ruta.sector %></li>
      <li><b>Jornada: </b> <%= @transportador.ruta.jornada %></li>
      <li><b>Placa del vehículo: </b> <%= @transportador.ruta.placa_vehiculo %></li>
    </ul>
    <%= link_to "Detalles de ruta", ruta_path(@transportador.ruta) %> |
    <%= link_to "Editar ruta", edit_transportador_ruta_path(@transportador) %> |
    <%= link_to "Eliminar ruta", transportador_ruta_path(@transportador), :method => :delete, :confirm => "¿Está seguro?" %>
    <% end -%>
</p>
</div>

<br />
<%= link_to 'Editar', edit_transportador_path(@transportador) %> |
<%= link_to 'Regresar a la lista de transportadores', transportadors_path %> |
<%= link_to 'Regresar a la lista de rutas', rutas_path %>
