<h1>Teléfonos de <%= link_to @persona.nombre_completo, persona_path(@persona) %> </h1>

<table>
  <tr>
    <th>Numero</th>
    <th>Tipo</th>
  </tr>

<% for telefono in @telefonos %>
  <tr>
    <td><%=h telefono.numero %></td>
    <td><%=h telefono.tipo %></td>
    <td><%= link_to 'Ver', [@persona, telefono] %></td>
    <td><%= link_to 'Editar', [:edit, @persona, telefono] %></td>
    <td><%= link_to 'Eliminar', [@persona, telefono], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo telefono', new_persona_telefono_path(@persona) %> | <%= link_to 'Back', persona_path(@persona) %>
