<h1><%= @persona.nombre_completo %></h1>
<p>
  <b>Cédula:</b>
  <%=h @persona.cedula %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @persona.direccion %>
</p>
<p>
  <b>Teléfonos:</b><br />
  <% if @persona.telefonos.nil? or @persona.telefonos.size == 0 -%>
  Ninguno | <%= link_to "Agregar teléfono", new_persona_telefono_path(@persona) %> <br />
  <% else -%>
  <% for t in @persona.telefonos -%>
  <%= h t.numero %> <br />
  <% end -%>
  <% end -%>
  <%= link_to "Control de teléfonos", persona_telefonos_path(@persona) %>
</p>

<p>
  <b>Familia:</b><br />
  <% if @persona.familia.nil? %>
  Ninguna | <%= link_to "Ir a familias", familias_path %>
  <% else -%>
  <%= link_to @persona.familia.nombre, familia_path(@persona.familia) %>
  <% end -%>
</p>
<%= link_to 'Editar', edit_persona_path(@persona) %> |
<%= link_to 'Regresar a la lista de las personas', personas_path %>
