<h1>Editar los datos del exalumno <%= h @alumno.nombre_completo%> </h1>

<%= error_messages_for :exalumno %>
<% form_tag( alumno_exalumno_path(@alumno), :method => :put ) do %>
  <p>
    <b>Fecha de retiro</b><br />
    <%= date_select "exalumno", "fecha_retiro" %>
  </p>
  <p>
    <b>Motivo</b><br />
    <%= text_area_tag "exalumno[motivo]" %>
  </p>

  <p>
    <%= submit_tag "Actualizar" %>
  </p>
<% end %>

<%= link_to 'Ver', alumno_exalumno_path(@alumno) %> |
<%= link_to "Regresar al alumno @alumno.nombre_completo", alumno_path(@alumno) %>
