<% if @exalumno.nil? %>
Ninguno <br />
<%= link_to 'Edit', new_alumno_exalumno_path(@alumno) %> |
<% else %>
<p>
  <b>Fecha retiro:</b>
  <%=h @exalumno.fecha_retiro %>
</p>

<p>
  <b>Motivo:</b>
  <%=h @exalumno.motivo %>
</p>
<%= link_to 'Edit', [:edit, @alumno, @exalumno] %> | 
<% end %>


<%= link_to 'Back', alumno_path(@alumno) %>
