<h1>Editando la familia <%= h @familia.nombre %></h1>

<%= error_messages_for :familia %>

<% form_for(@familia) do |f| %>
<%= render( :partial => "form", :locals => {:f => f} ) %>
<% end %>

<%= link_to 'Ver', @familia %> |
<%= link_to 'Regresar a la lista de familias', familias_path %>
