<h1>Listing familias</h1>

<table>
  <tr>
    <th>Codigo</th>
  </tr>

<% for familia in @familias %>
  <tr>
    <td><%=h familia.codigo %></td>
    <td><%= link_to 'Show', familia %></td>
    <td><%= link_to 'Edit', edit_familia_path(familia) %></td>
    <td><%= link_to 'Destroy', familia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New familia', new_familia_path %>
