<p>
  <h1> Familia <%=h @familia.nombre %></h1>
</p>

<p>
  <h3>Personas</h3>
  <%= render(:partial => "persona", :collection => @personas) %>
  <br \>
  <%= link_to "Agregar personas", agregar_personas_familia_path(@familia), :method => :get %> |
  <%= link_to "Quitar personas", quitar_personas_familia_path(@familia), :method => :get %>
</p>

<p>
  <h3>Alumnos</h3>
  <%= render(:partial => "persona", :collection => @familia.alumnos) %>
  <br \>
  <%= link_to "Agregar alumnos", agregar_alumnos_familia_path(@familia), :method => :get %> |
  <%= link_to "Quitar alumnos", quitar_alumnos_familia_path(@familia), :method => :get %>
</p>

<p>
<%= link_to 'Edit', edit_familia_path(@familia) %> |
<%= link_to 'Back', familias_path %>
</p>
